In [1]:
import pandas as pd
import pymongo

df = pd.read_csv('data/final_twitter.csv')
df.head()

   label                                              tweet
0      1  grade moron just remember that its neither bco...
1      0  going to see @user saturday   #singersongwrite...
2      0  @user dis is hw@user broadband  works in luckn...
3      1  saraswat hardcore rss guy who even attends rss...
4      1  @user why do  refer to everyone else as racist...

In [2]:
data = df.to_dict(orient='records')

In [3]:
DB_NAME = "US_VISA"
COLLECTION_NAME = "visa_data"
CONNECTION_URL ="mongodb+srv://iamhimanshu12goel:jr68QdEOiuIgv9aA@cluster0.vk2hjsa.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"

In [4]:
client = pymongo.MongoClient(CONNECTION_URL)
data_base = client[DB_NAME]
collection = data_base[COLLECTION_NAME]

In [5]:
rec = collection.insert_many(data)

In [6]:
df = pd.DataFrame(list(collection.find()))
df.head(2)

,_id,label,tweet
0,67fb7ceff33e55a56d966d24,1,grade moron just remember that its neither bco...
1,67fb7ceff33e55a56d966d25,0,going to see @user saturday #singersongwrite...